<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <style>
      body {
        font-family: "Roboto", sans-serif;
      }
      h1.title-mail {
        color: #585a5c;
        font-size: 22px;
      }

      .content-mail {
        font-size: 16px;
        color: #000;
      }
    </style>
  </head>
  <body>
      <div>
        <h1 class="title-mail">{{.Title}}</h1>
        <p class="content-mail">{{.Content}}</p>
      </div>
    </div>
  </body>
</html>
